/* RESET */

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* GLOBALS */
strong { font-weight:bold }
em { font-style:italic }
a img { border:none } /* Gets rid of IE's blue borders */
html {
}
body {
	margin: 20px auto;
	padding: 0;
	width: 760px;
	line-height: 1.5em;
	font-family: sans-serif;
}

a:link {
	
}
a:visited {
	
}
a:hover,
a:focus
a:active {
}
p {
	margin-bottom: 10px;
}
/*
Logo Image Replacement
*/
h1 {
	float: left;
}
h2 {
	padding-top: 45px;
	margin-bottom: 20px;
	font-size: 2em;
	font-family: "Fertigo Pro", serif;
	color: #fc0;
	text-shadow: -2px 1px 0px #2f2303;;
}
h3 {
	font-weight: bold;
	margin-bottom: 6px;
}
ul#nav {
	margin-bottom: 10px;
}
	ul#nav li {
		display: inline;
		margin: 0 20px 0 0;
		font-size: 24px;
	}
		a:link,
		a:visited {
			color: #2f2303;
			text-decoration: none;
			font-weight: bold;
		}
		ul#nav li a:hover,
		ul#nav li a:focus,
		ul#nav li a:active {
			border-bottom: 1px solid;
		}
	div.content {
	}
	div.content+a,
	div.content+a:focus {
		margin: 10px 0 0 0;
		float: left;
		background-color: #fc0;
		width: 100px;
		padding: 5px;
		text-align: center;
		border: 1px solid #fc0;
		text-shadow: -1px 1px 2px rgba(255,255,255,.75);
	}
	div.content+a:hover{
		margin: 10px 0 0 0;
		-moz-box-shadow: 0 8px 12px -6px #2f2303;
		text-shadow: -1px 1px 2px rgba(255,255,255,1);
		outline: none;
	}
	div.content+a:active {
		margin-top: 12px;
		-moz-box-shadow: 0 1px 2px 0px #2F2303;
		text-shadow: -1px 0px 1px rgba(255,255,255,1);
		outline: none;
	}
p.copyright {
	clear: both;
	font-size: 10px;
	text-align: right;
}
div#buy {
	display: none;
	-moz-border-radius: 15px;
	padding: 12px;
	border: 3px solid #fc0;
	-moz-box-shadow: 0 0 0 100000px rgba(0,0,0,.75);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	margin-top: -200px;
	background-color: #fff;
	min-height: 400px;
}
div#buy:target {
	display: block;
}
	a.close {
		display: none;
	}
	:target a.close {
		display: block;
		position: absolute;
		top: -12px;
		right: -12px;
		background: #fff;
		border: 3px solid #fc0;
		color: #2f2303;
		padding: 6px;
		-moz-border-radius: 50%;
		font-size: 1em;
		line-height: .5;
		vertical-align: top;
	}
	a.close:hover {
		background-color: #fc0;
		color: #fff;
	}